/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(225, 229, 242);
    --color-white: rgb(225, 229, 242);

    --text-color-second: rgb(1, 1, 1);
    --text-color-third: rgb(16, 19, 79);

    --first-color: rgb(16, 19, 79);
    --first-color-hover: rgb(78, 78, 78);

    --second-color: rgb(178, 178, 178);
    --third-color: rgb(16, 19, 79);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: rgb(225, 229, 242);
}
::-webkit-scrollbar-thumb{
    background: var(--first-color);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--second-color);
}


/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: var(--first-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s;
    color: var(--color-white);
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--text-color-second);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
}

/* ------- BASE -------- */
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav{
    /* background: var(--second-color); */
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--first-color);
    padding-inline: 9vw;
    transition: .8s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 40px;
    font-weight: 600;
    /* padding-left: -600px; */
    padding-right: 100px;
    color: var(--body-color);
}
.featured-image{
    position: absolute;
    right: 10px;
    top: 40px;
    width: max-content;
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--second-color);
}
.nav-menu, .nav_menu_list{
    display: flex;
    color: var(--body-color);
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
    color: var(--body-color);
}
.nav-link{
    text-decoration: none;
    color: var(--body-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: rgb(178, 178, 178);
    transition: .8;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: rgb(178, 178, 178);
    border-radius: 50%;
}


/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 70%;
    padding-left: 18px;
    padding-top: 48px;
}
.featured-text-card span{
    /* background: var(--third-color); */
    /* color: var(--first-color);
    padding: 10px 10px;
    font-size: 60px;
    border-radius: 5px; */
    font-size: 50px;
    font-weight: 600;
    /* color:#00B5E7 */
    color: var(--first-color);
    margin-block: 40px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    /* color:#00B5E7 */
    color: var(--first-color);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.social_icons .icon,
.footer-social-icons .icon {
    color: var(--body-color); /* Inherit color from body */
}
.icon a{
    color: var(--body-color);
    text-decoration: none;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(10, 9, 9, 0.25);
    cursor: pointer;
    background-color: var(--first-color);
    transition: .8s;
    color: var(--body-color);
}
.icon:hover{
    color: var(--text-color-second);
    background-color: var(--second-color);
}
.profile-picture {
    position: absolute;
    
    top: 200px; /* Adjust the top position as needed */
    right: 130px; /* Adjust the right position as needed */
}

.profile-img {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 280px;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out; /* corrected "is" to "1s" */
}
@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}



.scroll-btn{
   position: absolute;
   bottom: 0;
   left: 50%;
   translate: -50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   gap: 5px;
   text-decoration: none;
   color: var(--text-color-second);
   background: var(--color-white);
   border-radius: 0px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i{
    font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section{
    padding-block: 5em;
    
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    /* color: #00B5E7; */
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color:var(--second-color);
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    /* color: rgb(78, 78, 78); */
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--second-color);
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: rgb(78, 78, 78);
}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn button:hover{
    background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    display: flex;
    border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    /* height: 30vh; */
    flex-wrap: wrap;

}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--first-color);
    border-radius: 20px;
    box-shadow: 10px 8px 10px 10px var(--first-shadow-color);
    overflow: hidden;
    /* color: var(--body-color); */
    transition: 2s;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* width: 200px; */
    /* height: 200px; */
    background-repeat:var(--first-color) ;
    /* box-shadow:inset 0 0 20px var(--second-color); */
}
/*  */
.project-box::before{
    border-radius: 45%;
    background: rgb(77, 83, 146);
    animation: animate1 5s linear infinite;
}
.project-box::after{
    border-radius: 40%;
    background: var(--body-color);
    animation: animate1 10s linear infinite;
}

@keyframes animate1{
    100%{
        transform: translate(-45%,-90%)rotate(0deg);
    }
    0%{
        transform: translate(-45%,-90%)rotate(360deg);
    }
}
.project-box::before, .project-box::after{
    content: '';
    position:absolute;
    width: 200%;
    height: 200%;
    top:0;
    left: 50%;
    transform: translate(-50%,-75%);

}
.project-box img{
    width: 100px;
    padding-bottom: 30px;
}
.project-box>i{
    font-size: 50px;
    color: var(--first-color);
    margin-bottom: 25px;
}
.project-box label{
    font-size: 15px;
    color: var(--second-color);
}
.project-box h3{
    margin-top: 50px;
    color: var(--body-color);
    text-decoration: none;
}
/* .project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--first-color);
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--body-color);
    z-index: 2;
}
.project-box:hover h3::after{
    content: "aa";
    color: aliceblue;
} */
/* -----------internship---------- */
.int-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    /* height: 30vh; */
    position: relative;
    flex-wrap: wrap;

}
.int-box{
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 320px;
    background: var(--body-color);
    perspective: 1000px; 
    border-color: transparent;
    /* color: var(--second-color); */
    border-radius: 20px;
    /* box-shadow: 10px 8px 10px 10px var(--first-shadow-color); */
    /* overflow: hidden; */
}
  

 .card{
    position: absolute;
    border-radius: 20px;
    
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background:var(--body-color);
    box-shadow: 10px 8px 10px 10px var(--first-shadow-color);
 }
 .card:hover{
    transform: rotateY(180deg);
 }
 .front{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    /* box-shadow: 10px 8px 10px 10px var(--first-shadow-color); */
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    background: var(--body-color);
    /* color: rgb(87, 165, 42); */
    transform: rotateY(180deg);
    /* justify-content: center;
    align-items: center; */
    padding: 20px;
    padding-top: 100px;
    z-index: 2; /* Ensure the front is on top initially */
    transform: rotateY(0deg);
    flex-direction: column; /* Ensures the content is stacked vertically */
    text-align: center;
    /* color: aqua; */
  }

  
.back{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    flex-direction: column; /* Ensures the content is stacked vertically */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    display: flex;
    backface-visibility: hidden;
    background: var(--first-color);
    color: var(--body-color);
    transform: rotateY(180deg);
    /* box-shadow: 10px 8px 10px 10px var(--first-shadow-color); */
  }
/* .back h4{
    padding-top: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
} */
 
.int-box h3{
    color: var(--first-color);
    position: absolute;
    top: 50%;
    left: 15%;
    
}

.int-box img{
    top: 25%;
    left: 25%;
    /* padding-right: 50px; */
    position: absolute;
    width: 100px;
    display: flex;
    padding-left: 30px;
    /* padding-bottom: 30px; */
}

.int-box label{
    font-size: 15px;
    padding-top: 20px;
    color: var(--second-color);
}

/* ---------certificate------- */
.cert-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 50px;
    /* height: 30vh; */
    flex-wrap: wrap;

}
.cert-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 180px;
    color: var(--first-color);
    transition: transform 1s;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.cert-box:hover{
    transform: scale(1.2);
}
.cert-box img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 30%;
    width: 60px;
    padding-bottom: 30px;
}
.cert-box h4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 43%; */
    /* left: 20%; */
}
#google{
    left: 20%;
    top:37% ;
}
#googledate{
    left: 25%;
    top: 75%;
}
.cert-box h5{
    position:absolute;
    top: 70%;
    left: 30%;
}
.cert-box>i{
    font-size: 50px;
    color: var(--first-color);
    margin-bottom: 25px;
}
.cert-box label{
    font-size: 15px;
    color: var(--second-color);
    
}


/* .cert-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--first-color);
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 1;
}
.cert-box:hover.cert-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.cert-box:hover.cert-box i,
.certt-box:hover.cert-box>h3,
.cert-box:hover.cert-box>label{
    color: var(--body-color);
    z-index: 2;
}
.cert-box:hover h3::after{
    content: "aa";
    color: aliceblue;
} */
/* ----- CONTACT BOX ----- */
.contact-info1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 10px; */
    width: 440px;
    height: 440px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    /* background: var(--first-color); */
    border-radius: 10px;
    /* box-shadow: 1px 8px 10px 2px var(--first-shadow-color); */
    overflow: hidden;
    /* padding-left: 100px; */
}
.bubble{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle at 50% 50%, rgba(226,234,250,0.9),rgba(226,234,250,0.9) 40%,rgba(226,234,250,0.8) 60%,rgba(0, 60, 145, 0.4));
    animation: animate2 2s ease-in-out infinite;
}
@keyframes animate2{
    0%{
        transform: scale(1) translate(0,0px);
    }
    20%{
        transform: scale(0.95) scaleX(1.05);
    }
    50%{
        transform: scale(0.98) scaleX(0.9) translate(0,20px);
    }
    100%{
        transform: scale(1) translate(0,0px);
    }
}
.bubble:before{
    content: '';
    position: absolute;
    width: 40%;
    height: 80%;
    background: radial-gradient(circle at 130% 130%,rgb(255,255,255,0)0,rgb(255,255,255,0)45%,rgb(255,255,255,0)50%,rgb(255,255,255,0.8)58%,rgb(255,255,255,0)0,rgb(255,255,255,0)60%,rgb(255,255,255,0)100%);
    left: 5%;
    transform: translateX(1%) translateY(59%) rotateZ(241deg);
    filter: blur(2px);
}
.bubble:after{
    content: '';
    position: absolute;
    width:80% ;
    top: 5%;
    border-radius: 50%;
    filter: blur(2px);
    transform: rotateZ(30deg);
    left: 10%;
    height: 80%;
    background: radial-gradient(circle at 50% 80%,rgb(255,255,255,0)74%,white 80%,white 84%,rgb(255,255,255,0)100%);
}
.contact-info1 p, .contact-info1 h2{
    padding-left: 100px;
    margin-top: 100px;
}
.contact-info1>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info1>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
    
}
a{
    text-decoration: none;
    color: var(--first-color);
}
.contact-info1 p>i{
    font-size: 18px;
}
/* .contact-info::after{
    background: var(--color-white);
    /* color: var(--first-color); */
/* }
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color:var(--first-color);
    z-index: 2;
    transform: scale(1.1);
} */ 

/* ----- CONTACT FORM ----- */
.contact1-info1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 10px; */
    width: 440px;
    height: 440px;
    /* perspective: 1200px; */
    flex-wrap: wrap;
    padding: 50px 0;
    /* perspective-origin: 50% 50%; */
    /* background: var(--first-color); */
    /* border-radius: 10px; */
    /* box-shadow: 1px 8px 10px 2px var(--first-shadow-color); */
    /* overflow: hidden; */
    /* padding-left: 100px; */
    gap: 40px 60px;
}
.bubble1{
    position: absolute;
    left: 65%;
    height: 430px;
    top:-15%;
}
.contact1-info1 .bubble1{
    
    width: 450px;
    /* height: 550px; */
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),20px 20px 20px rgba(0, 0, 0, 0.05),20px 20px 20px rgba(0, 0, 0, 0.05),inset -20px -20px 25px rgba(255,255, 255, 0.9);
    background: var(--body-color);
    border-radius: 50% 50% 72% 28% / 30% 52% 48% 70% ;
    padding-top: 15%;
}

/* .bubble1{ */
    /* width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 50%, rgba(226,234,250,0.9),rgba(226,234,250,0.9) 40%,rgba(226,234,250,0.8) 60%,rgba(0, 60, 145, 0.4)); */
    /* animation: animate2 2s ease-in-out infinite; */
/* } */
/* @keyframes animate2{ */
    0%{
        transform: scale(1) translate(0,0px);
    }
    20%{
        transform: scale(0.95) scaleX(1.05);
    }
    50%{
        transform: scale(0.98) scaleX(0.9) translate(0,20px);
    }
    100%{
        transform: scale(1) translate(0,0px);
    }
/* } */
/* .bubble1:before{ */
    /* content: '';
    position: absolute;
    width: 40%;
    height: 80%;
    background: radial-gradient(circle at 130% 130%,rgb(255,255,255,0)0,rgb(255,255,255,0)45%,rgb(255,255,255,0)50%,rgb(255,255,255,0.8)58%,rgb(255,255,255,0)0,rgb(255,255,255,0)60%,rgb(255,255,255,0)100%);
    left: 5%;
    transform: translateX(1%) translateY(59%) rotateZ(241deg);
    filter: blur(2px); */
/* } */
/* .bubble1:after{ */
    /* content: '';
    position: absolute;
    width:80% ;
    top: 5%;
    border-radius: 50%;
    filter: blur(2px);
    transform: rotateZ(30deg);
    left: 10%;
    height: 80%;
    background: radial-gradient(circle at 50% 80%,rgb(255,255,255,0)74%,white 80%,white 84%,rgb(255,255,255,0)100%); */
/* } */
.contact1-info1 p, .contact1-info1 h2{
    padding-top: 20%;
    padding-left: 80px;
    /* margin-top: 60px; */
    font-weight: 600;
}
.contact1-info1>h2{
    color: var(--color-white);
    margin-bottom: 20px;
    padding-top: 30%;
}
.contact1-info1>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
    
}
.contact1-info1 p>i{
    font-size: 18px;
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--first-color);
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    color: var(--body-color);
    font-weight: 600;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--body-color);
    font-weight: 500;
    margin-inline: 20px;
}
.footer_menu_list p{
    color: var(--body-color);
}
.footer-social-icons{
    color: var(--body-color);
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    color: var(--body-color);
    margin-top: 10px;
}
.bottom-footer p{
    color: var(--body-color);
}
.bottom-footer a{
    color: var(--body-color);
}


/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
        color: var(--body-color);
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
        color: var(--body-color);
    }
    .social_icons{
        margin-top: 2em;
        color: var(--body-color);
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
        color: var(--body-color);
    }
    .image, .image img{
        width: 150px;
        height: 150px;
        color: var(--body-color);
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
        color: var(--body-color);
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }

}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }
    .project-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}